@model PTSL.GENERIC.Web.Core.Model.EntityViewModels.AIG.GroupLDFInfoFormVM
@{
    ViewBag.Title = "Group LDF Information Details";
}

<div class="card">
    <div class="card-header">
        <h4>
			<a href="/GroupLDFInfoForm/Index" class="mr-1 back">
                <svg width="20" height="20" viewBox="0 0 32 32">
                    <path fill="currentColor" d="m14 26l1.41-1.41L7.83 17H28v-2H7.83l7.58-7.59L14 6L4 16l10 10z" />
                </svg>
            </a>
            Group LDF Information Details
        </h4>
    </div>

    <div class="card-body">
        <div class="form-horizontal">
            <div class="form-group">
                <label style="font-size:15px;">Forest Circle: <b>@Model.ForestCircle?.Name</b></label>
            </div>
            <div class="form-group">
                <label style="font-size:15px;">Forest Division: <b>@Model.ForestDivision?.Name</b></label>
            </div>
            <div class="form-group">
                <label style="font-size:15px;">Forest Range: <b>@Model.ForestRange?.Name</b></label>
            </div>
            <div class="form-group">
                <label style="font-size:15px;">Forest Beat: <b>@Model.ForestBeat?.Name</b></label>
            </div>
            <div class="form-group">
                <label style="font-size:15px;">Forest FCV/VCF: <b>@Model.ForestFcvVcf?.Name</b></label>
            </div>
            <div class="form-group">
                <label style="font-size:15px;">Civil Division: <b>@Model.Division?.Name</b></label>
            </div>
            <div class="form-group">
                <label style="font-size:15px;">Civil District: <b>@Model.District?.Name</b></label>
            </div>
            <div class="form-group">
                <label style="font-size:15px;">Civil Upazilla: <b>@Model.Upazilla?.Name</b></label>
            </div>
            <div class="form-group">
                <label style="font-size:15px;">Civil Union: <b>@Model.Union?.Name</b></label>
            </div>

            <div class="form-group">
                <label style="font-size:15px;">NGO: <b>@Model.Ngo?.Name</b></label>
            </div>
            <div class="form-group">
                <label style="font-size:15px;">Total Member: <b>@Model.TotalMember</b></label>
            </div>
            <div class="form-group">
				<label style="font-size:15px;">Submitted Date: <b>@Model.SubmittedDate.ToUIDateString()</b></label>
            </div>
            <div class="form-group">
				<label style="font-size:15px;">Document: <a href="@Model.DocumentNameURL">Download Now</a></label>
            </div>
        </div>
		<br />

        @{ var index = 1; }

        <h5 class="mt-2">Member Lists</h5>
        <div class="table-responsive">
            <table class="table table-bordered table-sm ">
                <thead>
                    <tr>
                        <th scope="col" class="text-center">#</th>
                        <th scope="col">Member Name</th>
                        <th scope="col">NID</th>
                        <th scope="col">Mobile Number</th>
                        <th scope="col">Loan Amount</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model.GroupLDFInfoFormMembers != null)
                    {
                        foreach (var member in Model.GroupLDFInfoFormMembers)
                        {
                            <tr data-id=@member.Id>
                                <th scope="row" class="text-center index">@(index++)</th>
                                <td>@member.IndividualLDFInfoForm?.Survey?.BeneficiaryName</td>
                                <td>@member.IndividualLDFInfoForm?.Survey?.BeneficiaryNid</td>
                                <td>@member.IndividualLDFInfoForm?.Survey?.BeneficiaryPhone</td>
                                <td>@member.IndividualLDFInfoForm?.RequestedLoanAmount</td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

