@model IEnumerable<PTSL.GENERIC.Web.Core.Model.EntityViewModels.InternalLoan.InternalLoanInformationVM>
@{
    ViewBag.Title = "Internal Loan Security Fund Information";
}

<style>
    .purple {
        background: #1d9d92 !important;
        color: white !important;
    }

        .purple:hover {
            opacity: 0.8;
            color: white !important;
        }
</style>

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <div class="col-md-10 p-0">
                    <h4>Internal Loan Security Fund Information</h4>
                </div>
            </div>
            <div class="card-body">
               @*  asp-action="IndexFilter" asp-controller="InternalLoanSecurityFund" *@
                <div class="mb-4 green-card p-2" style="border-radius: 5px;">
                    <div class="row custom">
                        <div class="col-6 p-1">
                            @await Html.PartialAsync(
                            "~/Views/Shared/_ForestAdministration.cshtml",
                            (
                            ViewBag.ForestCircleId as SelectList,
                            ViewBag.ForestDivisionId as SelectList,
                            ViewBag.ForestRangeId as SelectList,
                            ViewBag.ForestBeatId as SelectList,
                            ViewBag.ForestFcvVcfId as SelectList
                            )
                            )
                        </div>

                        <div class="col-6 p-1">
                            @await Html.PartialAsync(
                            "~/Views/Shared/_CivilAdministration.cshtml",
                            (
                            ViewBag.DivisionId as SelectList,
                            ViewBag.DistrictId as SelectList,
                            ViewBag.UpazillaId as SelectList,
                            ViewBag.UnionId as SelectList
                            )
                            )
                        </div>
                    </div>
                    <div class="d-flex justify-content-end mt-2">
                        <button id="submit" type="submit" class="btn btn-sm btn-green save">Search</button>
                    </div>
                </div>
                <!--
                <div class="row">
                    <div class="table-responsive col-md-3">
                        <label style="font-weight:bold">Total Security Charge(Tk): </label>
                        @Model.Select(x=>x.TotalAllocatedLoanAmount * (x.SecurityChargePercentage / Convert.ToDouble(100))).Sum()
                        <br />
                        <label style="font-weight:bold">Total Service Charge(Tk): </label>
                        @Model.Select(x=>x.TotalAllocatedLoanAmount * (x.ServiceChargePercentage / Convert.ToDouble(100))).Sum()
                    </div>
                    <div class="table-responsive col-md-9">
                        <label style="font-weight:bold">Total Security Charge Balance(Tk): </label>
                        @Model.Select(x=>x.TotalAllocatedLoanAmount * (x.SecurityChargePercentage / Convert.ToDouble(100))).Sum()
                        <br />
                        <label style="font-weight:bold">Total Service Charge Balance(Tk): </label>
                        @Model.Select(x=>x.TotalAllocatedLoanAmount * (x.ServiceChargePercentage / Convert.ToDouble(100))).Sum()
                    </div>
                </div>
                -->



                <div class="row custom" style="padding-bottom: 35px;padding-left: 15px;padding-right: 10px;">
                    <div class="col-12 p-1" style="border-radius: 5px;">
                        <fieldset class="p-2">
                            <legend class="float-none w-auto">Balance Information</legend>
                            <div class="row" style="padding-bottom: 15px;">
                                <div class="table-responsive col-md-3">
                                    <label style="font-weight:bold;padding-bottom: 8px;">Total Security Charge(Tk): </label>
                                    @Model.Select(x=>x.TotalAllocatedLoanAmount * (x.SecurityChargePercentage / Convert.ToDouble(100))).Sum()
                                    <br />
                                    <label style="font-weight:bold;padding-bottom: 8px;">Total Service Charge(Tk): </label>
                                    @Model.Select(x=>x.TotalAllocatedLoanAmount * (x.ServiceChargePercentage / Convert.ToDouble(100))).Sum()
                                </div>
                                <div class="table-responsive col-md-9">
                                    <label style="font-weight:bold;padding-bottom: 8px;">Total Security Charge Balance(Tk): </label>
                                    @Model.Select(x=>x.TotalAllocatedLoanAmount * (x.SecurityChargePercentage / Convert.ToDouble(100))).Sum()
                                    <br />
                                    <label style="font-weight:bold;padding-bottom: 8px;">Total Service Charge Balance(Tk): </label>
                                    @Model.Select(x=>x.TotalAllocatedLoanAmount * (x.ServiceChargePercentage / Convert.ToDouble(100))).Sum()
                                </div>
                            </div>
                        </fieldset>
                    </div>
                </div>









                <div class="table-responsive">
                    @* <table class="table table-striped table-bordered table-hover" id="tableExport_filter" style="width:100%;">
                        <thead>
                            <tr>
                                <th>SL</th>
                                <th>Beneficiary Name</th>
                                <th>NID</th>
                                <th>Allocated<br /> Loan(TK)</th>
                                <th>Start Date</th>
                                <th>End Date</th>
                                <th>Months for<br /> Repayment</th>
                                <th>Security Charge(Tk)</th>

                                <th>Service Charge(Tk)</th>
                                <th class="not-export-col">Action</th>
                            </tr>
                        </thead> @{
                            int i = 1;
                        }
                        <tbody>
                            @if (Model != null)
                            {
                                foreach (var data in Model)
                                {
                                    <tr>
                                        <td>@i</td>
                                        <td>@data.Survey?.BeneficiaryName</td>
                                        <td>@data.Survey?.BeneficiaryNid</td>
                                        <td>@data.TotalAllocatedLoanAmount</td>
                                        <td>@data.StartDate.ToUIDateString()</td>
                                        <td>@data.EndDate.ToUIDateString()</td>
                                        <td>@data.MaximumRepaymentMonth</td>
                                        <td>@(Math.Round(data.TotalAllocatedLoanAmount * data.SecurityChargePercentage / 100, 2))</td>

                                        <td>@(Math.Round(data.TotalAllocatedLoanAmount * data.ServiceChargePercentage / 100, 2))</td>
                                        <td class="not-export-col">
                                            <a href="/InternalLoanSecurityFund/Details?id=@data.Id" class="btn btn-info btn-sm">Details</a>
                                        </td>
                                    </tr>
                                    i++;
                                }
                            }
                        </tbody>
                    </table> *@

                    <table id="foodTable" class="display">
                        <thead class="table-content">
                            <tr class="table-row">
                                <th scope="col">SL</th>
                                <th scope="col">Beneficiary Name</th>
                                <th scope="col">NID</th>
                                <th scope="col">Allocated<br /> Loan(TK)</th>
                                <th scope="col">Start Date</th>
                                <th scope="col">End Date</th>
                                <th scope="col">Months for<br /> Repayment</th>
                                <th scope="col">Security Charge(Tk)</th>
                                <th scope="col">Service Charge(Tk)</th>
                                <th scope="col">Action</th>
                            </tr>
                        </thead>
                        <tbody class="table-content">
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
    </div>
</div>

@await Html.PartialAsync("~/Views/Shared/_DataTables.cshtml")

<script>
    $(document).ready(function () {
        $('#tableExport_filter').DataTable({
            pageLength: 5,
            dom: 'lBfrtip',
            buttons: [
                {
                    extend: 'csv',
                    title: 'Internal Loan Security Fund List',
                    exportOptions: {
                        columns: [0, 1, 2, 3, 4, 5, 6, 7, 8]
                    }
                },
                {
                    extend: 'excel',
                    title: 'Internal Loan Security Fund List',
                    exportOptions: {
                        columns: [0, 1, 2, 3, 4, 5, 6, 7, 8]
                    }
                },
                {
                    extend: 'pdf',
                    title: 'Internal Loan Security Fund List',
                    exportOptions: {
                        columns: [0, 1, 2, 3, 4, 5, 6, 7, 8]
                    }
                },
                {
                    extend: 'print',
                    title: 'Internal Loan Security Fund List',
                    exportOptions: {
                        columns: [0, 1, 2, 3, 4, 5, 6, 7, 8]
                    }
                }
            ]
        });
    });
</script>

<script>
    // var $j = jQuery.noConflict();
    $(document).ready(function () {
        var data;
        $('#foodTable').DataTable({
            pageLength: 5,
            dom: 'lBfrtip',
            buttons: [
                {
                    extend: 'csv',
                    title: 'Internal Loan Security Fund List',
                    exportOptions: {
                        columns: [0, 1, 2, 3, 4, 5, 6, 7, 8]
                    }
                },
                {
                    extend: 'excel',
                    title: 'Internal Loan Security Fund List',
                    exportOptions: {
                        columns: [0, 1, 2, 3, 4, 5, 6, 7, 8]
                    }
                },
                {
                    extend: 'pdf',
                    title: 'Internal Loan Security Fund List',
                    exportOptions: {
                        columns: [0, 1, 2, 3, 4, 5, 6, 7, 8]
                    }
                },
                {
                    extend: 'print',
                    title: 'Internal Loan Security Fund List',
                    exportOptions: {
                        columns: [0, 1, 2, 3, 4, 5, 6, 7, 8]
                    }
                }
            ],

            "sAjaxSource": "/InternalLoanSecurityFund/GetInternalLoanSecurityFundListByPagination",
            "bDestroy": true,
            "bServerSide": true,
            "bProcessing": true,
            "bSearchable": true,
            "order": [[1, 'asc']],
            "language": {
                "emptyTable": "No record found.",
                "processing":
                    '<i class="fa fa-spinner fa-spin fa-3x fa-fw" style="color:#2a2b2b;"></i><span class="sr-only">Loading...</span> '
            },

            "fnDrawCallback": function (oSettings) {
                //alert(oSettings.aoData[1]._aData.Id);
                data = oSettings.jqXHR.responseJSON.aaData;
            },

            aoColumns: [
                {
                    title: 'Id',
                    data: null,
                    render: (data, type, row, meta) => meta.row
                },
                {
                    render: (data, type, row, meta) => {
                        return row.Survey.BeneficiaryName;
                    },
                },
                {
                    render: (data, type, row, meta) => {
                        return row.Survey.BeneficiaryNid;
                    },
                },
                {
                    render: (data, type, row, meta) => {
                        return row.TotalAllocatedLoanAmount;
                    },
                },
                {
                    render: (data, type, row, meta) => {
                        return moment(row.StartDate).format("DD-MM-YYYY");
                    },
                },
                {
                    render: (data, type, row, meta) => {
                        return moment(row.EndDate).format("DD-MM-YYYY");
                    },
                },
                { mData: 'MaximumRepaymentMonth' },
                { mData: 'SecurityChargeTkText' },
                { mData: 'ServiceChargeTkText' },
                {
                    render: (data, type, row, meta) => {
                        return "<a href='/InternalLoanSecurityFund/Details?id="+row.Id+"' class='btn btn-info btn-sm'>Details</a>"
                    },
                },
            ],
        });


        //Filter
        $("#submit").click(function () {
            //Extra Filter;
            var forestCircleId = Number($("#ForestCircleId").val());
            var forestDivisionId = Number($("#ForestDivisionId").val());
            var forestRangeId = Number($("#ForestRangeId").val());
            var forestBeatId = Number($("#ForestBeatId").val());
            //var fcvVcfType = Number($("#FcvVcfType").val());
            var forestFcvVcfId = Number($("#ForestFcvVcfId").val());
            var divisionId = Number($("#DivisionId").val());
            var districtId = Number($("#DistrictId").val());
            var upazillaId = Number($("#UpazillaId").val());
            var unionId = Number($("#UnionId").val());
            //alert(forestCircleId);
 
            var labourDatabaseFilterVM =
            {
                ForestCircleId: forestCircleId,
                ForestDivisionId: forestDivisionId,
                ForestRangeId: forestRangeId,
                ForestBeatId: forestBeatId,
                //FcvVcfType: fcvVcfType,
                ForestFcvVcfId: forestFcvVcfId,
                DivisionId: divisionId,
                DistrictId: districtId,
                UpazillaId: upazillaId,
                UnionId: unionId
            };

            $.ajax({
                type: "POST",
                url: "/InternalLoanSecurityFund/IndexFilterInternalLoanSecurityFundListByPagination",
                data: labourDatabaseFilterVM,
                cache: false,
                dataType: 'json',
                success: function (response) {
                    $('#foodTable').DataTable({
                        "bDestroy": true,

                        //"bServerSide": true,
                        //"bProcessing": true,
                        //"bSearchable": true,
                        //"order": [[1, 'asc']],
                        // "language": {
                        //     "emptyTable": "No record found.",
                        //     "processing":
                        //         '<i class="fa fa-spinner fa-spin fa-3x fa-fw" style="color:#2a2b2b;"></i><span class="sr-only">Loading...</span> '
                        // },
                        data: response.aaData,

                        aoColumns: [
                            {
                                title: 'Id',
                                data: null,
                                render: (data, type, row, meta) => meta.row
                            },
                            {
                                render: (data, type, row, meta) => {
                                    return row.Survey.BeneficiaryName;
                                },
                            },
                            {
                                render: (data, type, row, meta) => {
                                    return row.Survey.BeneficiaryNid;
                                },
                            },
                            {
                                render: (data, type, row, meta) => {
                                    return row.TotalAllocatedLoanAmount;
                                },
                            },
                            {
                                render: (data, type, row, meta) => {
                                    return moment(row.StartDate).format("DD-MM-YYYY");
                                },
                            },
                            {
                                render: (data, type, row, meta) => {
                                    return moment(row.EndDate).format("DD-MM-YYYY");
                                },
                            },
                            { mData: 'MaximumRepaymentMonth' },
                            { mData: 'SecurityChargeTkText' },
                            { mData: 'ServiceChargeTkText' },
                            {
                                render: (data, type, row, meta) => {
                                    return "<a href='/InternalLoanSecurityFund/Details?id=" + row.Id + "' class='btn btn-info btn-sm'>Details</a>"
                                },
                            },
                        ],
                    });
                },
                error: function () {
                    $(".loader").fadeOut("slow");
                    swal(
                        'Unexpected',
                        'Unknown error occurred',
                        'error'
                    );
                }
            });

        });

    });
</script>