@model PTSL.GENERIC.Web.Core.Model.EntityViewModels.SocialForestry.Cutting.RealizationVM

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h4>
                    <a href="/CuttingPlantation/Index" class="mr-1 back">
                        <svg width="20" height="20" viewBox="0 0 32 32">
                            <path fill="currentColor" d="m14 26l1.41-1.41L7.83 17H28v-2H7.83l7.58-7.59L14 6L4 16l10 10z" />
                        </svg>
                    </a>
                    Realization Edit
                </h4>
            </div>

            <div class="card-body">
              
                <form asp-action="Edit" asp-controller="Realization">
                    <input type="hidden" name="Id" value="@Model.Id" />
                    <input type="hidden" name="CuttingPlantationId" value="@Model.CuttingPlantationId" />
                    <input type="hidden" class="form-control" id="SaleValueOfVatPercentage" name="SaleValueOfVatPercentage">
                    <input type="hidden" class="form-control" id="SaleValueOfTaxPercentage" name="SaleValueOfTaxPercentage">
                    <div class="row">
                        <div class="col-md-12">
                            <h6>State of Realization</h6>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="">Lot Number<span style="color:red;">*</span></label>
                              @*   <select id="LotWiseSellingInformationId" name="LotWiseSellingInformationId" class="form-control">
                                    <!option value="">Select Lot Number</!option>
                                    @foreach (var item in ViewBag.LotWiseSellingInformationId)
                                    {
                                        <!option value="@item.Id">@item.LotNumber</!option>
                                    }
                                </select> *@
                                @Html.DropDownList("LotWiseSellingInformationId", null, "Choose Lot Number", htmlAttributes: new { @class = "form-control col-md-12", @required = "required" })
                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="">Value of Sold Lot <span style="color:red;">*</span></label>
                                <input type="number" class="form-control" id="SaleValueOfLot" name="SaleValueOfLot" value="@Model?.SaleValueOfLot" placeholder="Enter realized amount" readonly required>
                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="">Total Vat <span id="TotalVatPercentage"></span></label>
                                <input type="number" class="form-control" id="TotalVat" name="TotalVat" value="@Model?.LotWiseSellingInformation.TotalVat" placeholder="Total vat" readonly required>
                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="">Total Tax <span id="TotalTaxPercentage"></span></label>
                                <input type="number" class="form-control" id="TotalTax" name="TotalTax" value="@Model?.LotWiseSellingInformation.TotalTax" placeholder="Total tax" readonly required>
                            </div>
                        </div>

                    </div>

                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="">Total Vat and Tax</label>
                                <input type="number" class="form-control" id="TotalVatAndTax" name="TotalVatAndTax" value="@Model?.LotWiseSellingInformation.TotalVatAndTax" placeholder="Total tax" readonly required>
                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="">Total Sale Value <span style="color:red;">*</span></label>
                                <input type="number" class="form-control" id="TotalSaleValue" name="TotalSaleValue" value="@Model?.LotWiseSellingInformation.TotalSaleValue" placeholder="Total sale value" readonly required>
                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="">Realized Date <span style="color:red;">*</span></label>
                                <input type="date" class="form-control" id="RealizedDate" name="RealizedDate" value="@Model?.RealizedDate.ToUIDateString()" placeholder="Enter realized date" required>
                            </div>
                        </div>
                    </div>

                    <div class="form-group col-md-12">
                        <button type="submit" class="btn btn-primary submit-btn pull-right btn-sm">Submit</button>
                    </div>
                </form>

               

            
            </div>
        </div>
    </div>
</div>



<script>
    $("#LotWiseSellingInformationId").on("change", function () {
        const value = $(this).val();

        $.ajax({
            type: "GET",
            contentType: "application/json; charset=utf-8",
            url: `/Realization/GetLotInfoByLotNumber?lotId=${value}`,
            datatype: "json",
            success: function (result) {
                if (result.Data) {
                    const data = result.Data;

                    $("#SaleValueOfLot").val(data.SaleValueOfLot);
                    $("#SaleValueOfVatPercentage").val(data.SaleValueOfVatPercentage);
                    $("#SaleValueOfTaxPercentage").val(data.SaleValueOfTaxPercentage);
                    $("#TotalVatPercentage").val(data.SaleValueOfVatPercentage);
                    $("#TotalTaxPercentage").val(data.SaleValueOfTaxPercentage);
                    $("#TotalVat").val(data.TotalVat);
                    $("#TotalTax").val(data.TotalTax);
                    $("#TotalVatAndTax").val(data.TotalVatAndTax);
                    $("#TotalSaleValue").val(data.TotalSaleValue);
                    document.getElementById('RealizedDate').valueAsDate = new Date();
                   // $("#RealizedDate").val();
                }
            },
            error: function (xmlhttprequest, textstatus, errorthrown) {
            }
        });
    });
</script>

