<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no" name="viewport">
	<title>@ViewData["Title"] - Sufol</title>

	<!-- General CSS Files -->
	<link rel="stylesheet" href="~/css/app.min.css">
	<link rel="stylesheet" href="~/bundles/datatables/datatables.min.css">
	<link rel="stylesheet" href="~/bundles/datatables/DataTables-1.10.16/css/dataTables.bootstrap4.min.css">
	<link rel="stylesheet" href="~/bundles/prism/prism.css">
	<!-- Template CSS -->
	<link rel="stylesheet" href="~/css/style.css">
	<link rel="stylesheet" href="~/css/components.css">
	<!-- Custom style CSS -->
	<link rel="stylesheet" href="~/css/custom.css" asp-append-version="true">
	<link href="~/sweetalert/sweetalert.css" rel="stylesheet" />
	<link rel='shortcut icon' type='image/x-icon' href='~/img/favicon.ico' />
	<link href="~/css/tabs.css" rel="stylesheet" />

	@RenderSection("Styles", required: false)
	@RenderSection("Scripts", required: false)

	<!-- General JS Scripts -->
	<script src="~/js/app.min.js"></script>
	<script src="~/bundles/datatables/datatables.min.js"></script>
	<script src="~/bundles/datatables/DataTables-1.10.16/js/dataTables.bootstrap4.min.js"></script>
	<script src="~/bundles/jquery-ui/jquery-ui.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.3/dist/jquery.validate.js"></script>
	<script src='https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js'></script>
	<script src="~/js/scripts.js"></script>
    <script>
        function saveScrollPosition() {
            var position = $(window).scrollTop();
            var previousPageUrl = localStorage.getItem("previousPageUrl");
            var currentPageUrl = window.location.href;

            if (previousPageUrl === currentPageUrl) {
                localStorage.setItem("scrollPosition", position);
            } else {
                localStorage.removeItem("scrollPosition");
            }

            localStorage.setItem("previousPageUrl", currentPageUrl);
        }

        $(document).on("click", "a, :submit", function () {
            saveScrollPosition();
        });

        if (window.history.replaceState) {
            window.history.replaceState(null, null, window.location.href);
        }

        $(document).ready(function () {
            var storedScrollPosition = localStorage.getItem("scrollPosition");
            if (storedScrollPosition) {
                $(window).scrollTop(storedScrollPosition);
            }
        });
    </script>

	<script type="text/javascript">
		$(document).ready(function () {
            @{
                var message = Context.Request.HttpContext.Session.GetString("Message");
                if (string.IsNullOrEmpty(message))
                {
                    message = "";
                }
            }
			var message = '@message';
			if (message) {
				if (message == "The remote server returned an error: (404) Not Found.") {
					message = "Data Saved Failed!";
				}
				swal(message);
                @{
                    Context.Request.HttpContext.Session.SetString("Message", "");
                }
            }
		});
	</script>

	<style>
		.swal2-popup {
			font-size: 1.6rem !important;
			font-family: Georgia, serif;
		}
	</style>

	<style>
		.theme-white a:hover {
			text-decoration: none;
		}

		.dashboard_map {
			border-radius: 10px;
			background-color: ghostwhite;
		}
	</style>

	<style>
		#tableExport_filter_length {
			padding-right: 10px;
		}

		.dt-button > span {
			color: blue;
			font-weight: bold
		}
	</style>
</head>

<body>
	<div class="loader"></div>
	<div id="app">
		<input type="hidden" name="token" id="token" value="@Context.Request.HttpContext.Session.GetString("Token")" />
		<div class="main-wrapper main-wrapper-1">
			<div class="navbar-bg"></div>
			<nav class="navbar navbar-expand-lg main-navbar sticky">
				<div class="form-inline mr-auto">
					<ul class="navbar-nav mr-3">
						<li>
							<a href="#" data-toggle="sidebar" class="nav-link nav-link-lg
									collapse-btn">
								<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-align-justify"><line x1="21" y1="10" x2="3" y2="10"></line><line x1="21" y1="6" x2="3" y2="6"></line><line x1="21" y1="14" x2="3" y2="14"></line><line x1="21" y1="18" x2="3" y2="18"></line></svg>
							</a>
						</li>
						<li title="Fullscreen view">
							<a href="#" class="nav-link nav-link-lg fullscreen-btn">
								<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-maximize"><path d="M8 3H5a2 2 0 0 0-2 2v3m18 0V5a2 2 0 0 0-2-2h-3m0 18h3a2 2 0 0 0 2-2v-3M3 16v3a2 2 0 0 0 2 2h3"></path></svg>
							</a>
						</li>
					</ul>
				</div>
				<ul class="navbar-nav navbar-right">
					<li class="dropdown dropdown-list-toggle d-flex align-items-center" style="margin-right: 20px;">
						<div class="d-flex justify-content-center dashboard_map">
							<a href="/" class="@(Context.Request.Path == "/" ? "active" : "")">Dashboard</a>
							<a href="/Home/Map" class="@(Context.Request.Path == "/Home/Map" ? "active" : "")">Map</a>
						</div>
					</li>
					<li class="dropdown dropdown-list-toggle">
						<a href="#" data-toggle="dropdown"
						   class="nav-link nav-link-lg message-toggle">
							<!--<i data-feather="mail"></i>-->
							<i class="fa fa-comments" aria-hidden="true" style="color: blueviolet;"></i>
							<span class="badge headerBadge1">
								0
							</span>
						</a>
					</li>
					<li class="dropdown dropdown-list-toggle">
						<a href="#" data-toggle="dropdown"
						   class="nav-link notification-toggle nav-link-lg">
							<!-- <i data-feather="bell" class="bell"></i> -->
							<i class="fa fa-bell" aria-hidden="true" style="color: forestgreen;"></i>
						</a>
						<div class="dropdown-menu dropdown-list dropdown-menu-right pullDown">
							<div class="dropdown-header">
								Notifications
								<div class="float-right">
									<a href="#">Mark All As Read</a>
								</div>
							</div>
							<div class="dropdown-list-content dropdown-list-icons">
								<a href="#" class="dropdown-item dropdown-item-unread">
									<span class="dropdown-item-icon bg-primary text-white">
										<i class="fas
												fa-code"></i>
									</span> <span class="dropdown-item-desc">
										Template update is
										available now! <span class="time">
											2 Min
											Ago
										</span>
									</span>
								</a> <a href="#" class="dropdown-item">
									<span class="dropdown-item-icon bg-info text-white">
										<i class="far
												fa-user"></i>
									</span> <span class="dropdown-item-desc">
										<b>You</b> and <b>
											Dedik
											Sugiharto
										</b> are now friends <span class="time">
											10 Hours
											Ago
										</span>
									</span>
								</a> <a href="#" class="dropdown-item">
									<span class="dropdown-item-icon bg-success text-white">
										<i class="fas
												fa-check"></i>
									</span> <span class="dropdown-item-desc">
										<b>Kusnaedi</b> has
										moved task <b>Fix bug header</b> to <b>Done</b> <span class="time">
											12
											Hours
											Ago
										</span>
									</span>
								</a> <a href="#" class="dropdown-item">
									<span class="dropdown-item-icon bg-danger text-white">
										<i class="fas fa-exclamation-triangle"></i>
									</span> <span class="dropdown-item-desc">
										Low disk space. Let's
										clean it! <span class="time">17 Hours Ago</span>
									</span>
								</a> <a href="#" class="dropdown-item">
									<span class="dropdown-item-icon bg-info text-white">
										<i class="fas
												fa-bell"></i>
									</span> <span class="dropdown-item-desc">
										Welcome to DGFood
										<span class="time">Yesterday</span>
									</span>
								</a>
							</div>
							<div class="dropdown-footer text-center">
								<a href="#">View All <i class="fas fa-chevron-right"></i></a>
							</div>
						</div>
					</li>
					<li class="dropdown">
						<a href="#" data-toggle="dropdown"
						   class="nav-link dropdown-toggle nav-link-lg nav-link-user">
							<img alt="image" src="~/img/user.png"
		 class="user-img-radious-style"> <span class="d-sm-none d-lg-inline-block"></span>
						</a>
						<div class="dropdown-menu dropdown-menu-right pullDown">
							<div class="dropdown-title" id="nameDiv">Hello Sarah Smith</div>
							<a href="profile.html" class="dropdown-item has-icon">
								<i class="far
										fa-user"></i> Profile
							</a> <a href="timeline.html" class="dropdown-item has-icon">
								<i class="fas fa-bolt"></i>
								Activities
							</a> <a href="#" class="dropdown-item has-icon">
								<i class="fas fa-cog"></i>
								Settings
							</a>
							<div class="dropdown-divider"></div>
							<a href="/Account/logoff" class="dropdown-item has-icon text-danger">
								<i class="fas fa-sign-out-alt"></i>
								Logout
							</a>
						</div>
					</li>
				</ul>
			</nav>

			<!-- Sidebar -->
			@*
			@{ Html.RenderPartial("_Sidebar"); }
			*@
			<partial name="_Sidebar">

				<!-- Main Content -->
				<div class="main-content">
					<section class="section">
						<div class="section-body" style="min-height:550px;">
							@RenderBody()
						</div>
					</section>
					<div class="settingSidebar">
						<div class="settingSidebar-body ps-container ps-theme-default">
							<div class=" fade show active">
								<div class="setting-panel-header">
									Setting Panel
								</div>
								<div class="p-15 border-bottom">
									<h6 class="font-medium m-b-10">Select Layout</h6>
									<div class="selectgroup layout-color w-50">
										<label class="selectgroup-item">
											<input type="radio" name="value" value="1" class="selectgroup-input-radio select-layout" checked>
											<span class="selectgroup-button">Light</span>
										</label>
										<label class="selectgroup-item">
											<input type="radio" name="value" value="2" class="selectgroup-input-radio select-layout">
											<span class="selectgroup-button">Dark</span>
										</label>
									</div>
								</div>
								<div class="p-15 border-bottom">
									<h6 class="font-medium m-b-10">Sidebar Color</h6>
									<div class="selectgroup selectgroup-pills sidebar-color">
										<label class="selectgroup-item">
											<input type="radio" name="icon-input" value="1" class="selectgroup-input select-sidebar">
											<span class="selectgroup-button selectgroup-button-icon" data-toggle="tooltip"
												  data-original-title="Light Sidebar"><i class="fas fa-sun"></i></span>
										</label>
										<label class="selectgroup-item">
											<input type="radio" name="icon-input" value="2" class="selectgroup-input select-sidebar" checked>
											<span class="selectgroup-button selectgroup-button-icon" data-toggle="tooltip"
												  data-original-title="Dark Sidebar"><i class="fas fa-moon"></i></span>
										</label>
									</div>
								</div>
								<div class="p-15 border-bottom">
									<h6 class="font-medium m-b-10">Color Theme</h6>
									<div class="theme-setting-options">
										<ul class="choose-theme list-unstyled mb-0">
											<li title="white" class="active">
												<div class="white"></div>
											</li>
											<li title="cyan">
												<div class="cyan"></div>
											</li>
											<li title="black">
												<div class="black"></div>
											</li>
											<li title="purple">
												<div class="purple"></div>
											</li>
											<li title="orange">
												<div class="orange"></div>
											</li>
											<li title="green">
												<div class="green"></div>
											</li>
											<li title="red">
												<div class="red"></div>
											</li>
										</ul>
									</div>
								</div>
								<div class="p-15 border-bottom">
									<div class="theme-setting-options">
										<label class="m-b-0">
											<input type="checkbox" name="custom-switch-checkbox" class="custom-switch-input"
												   id="mini_sidebar_setting">
											<span class="custom-switch-indicator"></span>
											<span class="control-label p-l-10">Mini Sidebar</span>
										</label>
									</div>
								</div>
								<div class="p-15 border-bottom">
									<div class="theme-setting-options">
										<label class="m-b-0">
											<input type="checkbox" name="custom-switch-checkbox" class="custom-switch-input"
												   id="sticky_header_setting">
											<span class="custom-switch-indicator"></span>
											<span class="control-label p-l-10">Sticky Header</span>
										</label>
									</div>
								</div>
								<div class="mt-4 mb-4 p-3 align-center rt-sidebar-last-ele">
									<a href="#" class="btn btn-icon icon-left btn-primary btn-restore-theme">
										<i class="fas fa-undo"></i> Restore Default
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>
				<footer class="main-footer">
					<div class="footer-left">
						<a href="#"></a>
					</div>
					<div class="footer-right">
					</div>
				</footer>
		</div>
	</div>

	<script src="~/js/page/datatables.js"></script>
	<script src="~/js/page/index.js"></script>
	<script src="~/js/custom.js" asp-append-version="true"></script>
	<script src="~/sweetalert/waves.js"></script>
	<script src="~/sweetalert/sweetalert.min.js"></script>
	<script src="~/sweetalert/dialogs.js"></script>
	<style>
		#tableExport_filter_previous {
			padding-right: 5px !important;
		}

		#tableExport_filter_next {
			padding-left: 5px !important;
		}
	</style>
</body>
</html>

