@model PTSL.GENERIC.Web.Core.Model.EntityViewModels.Beneficiary.EthnicityVM
@{ ViewBag.Title = "Edit"; }

<div class="card">
    <div class="card-header">
        <h4>Edit Ethnicity</h4>
    </div>
    <div class="card-body">
        @using (Html.BeginForm("Edit", "Ethnicity", FormMethod.Post, new { id = "Form" }))
        {
            <input type="hidden" name="Id" id="Id" value="@Model.Id" />
            <input type="hidden" name="CreatedAt" id="CreatedAt" value="@Model.CreatedAt" />
            <div class="form-horizontal">
                <div class="form-group">
                    <label>
                        English Name
                    </label>
                    <input type="text" class="form-control col-md-6" id="Name" name="@nameof(Model.Name)" value="@Model.Name" placeholder="Enter Ethnicity Name">
                </div>
                <div class="form-group">
                    <label>
                        Bangla Name
                    </label>
                    <input type="text" class="form-control col-md-6" id="NameBn" name="@nameof(Model.NameBn)" value="@Model.NameBn" placeholder="Enter Ethnicity Name">
                </div>
                <div class="form-group col-md-6">
                    <button type="submit" class="btn btn-primary submit-btn pull-right">Submit</button>
                </div>
            </div>
        }
    </div>
    <hr />
    <div class="card-header pull-left">
        <a href="/Ethnicity/Index" class="btn btn-warning">Return to Index</a>
    </div>
</div>
<script>
    $(".submit-btn").on("click", function () {
        if ($("#Form").valid()) {
            $(".loader").fadeIn("slow");
        }
    });
    $("#Form").validate({
        rules: {
        },
    });
</script>