@using PTSL.GENERIC.Web.Core.Helper.Enum;
@using PTSL.GENERIC.Web.Core.Model.EntityViewModels.AIG;
@model PTSL.GENERIC.Web.Core.Model.EntityViewModels.AIG.AIGBasicInformationVM
@inject IHttpContextAccessor Accessor
@{
    ViewBag.Title = "Details of AIG Loan Info";

    var surveyIdString = Accessor.HttpContext?.Session.GetString("SurveyId");
    long.TryParse(surveyIdString, out var surveyId);
}

<style>
	.red {
		color: red;
	}
	.green {
		color: green;
	}
    .custom-border {
        border: 1px solid #a4a4a4;
        border-radius: 5px;
    }
	.row.custom-border {
		margin: 0px 0px 5px 0px !important;
	}
</style>

<div class="card">
    <div class="card-header">
        <h4>
            <a href="@(surveyId > 0 ? "/Home/BeneficiaryIndex" : "/AIGBasicInformation/Index")" class="mr-1 back">
                <svg width="20" height="20" viewBox="0 0 32 32">
                    <path fill="currentColor" d="m14 26l1.41-1.41L7.83 17H28v-2H7.83l7.58-7.59L14 6L4 16l10 10z" />
                </svg>
            </a>
            Details of AIG Loan Information
        </h4>
    </div>

    <div class="card-body">
		<h5 class="mt-2 border-bottom">Beneficiary Information</h5>
        <div class="form-horizontal">
            <div class="form-group">
                <label style="font-size:15px;">Beneficiary name: <b>@(string.IsNullOrEmpty(Model.Survey?.BeneficiaryName) ? Model.Survey?.BeneficiaryNameBn : Model.Survey?.BeneficiaryName)</b></label>
            </div>
            <div class="form-group">
                <label style="font-size:15px;">Mobile number: <b>@(string.IsNullOrEmpty(Model.Survey?.BeneficiaryPhone) ? Model.Survey?.BeneficiaryPhoneBn : Model.Survey?.BeneficiaryPhone)</b></label>
            </div>
            <div class="form-group">
                <label style="font-size:15px;">Beneficiary NID: <b>@(Model.Survey?.BeneficiaryNid)</b></label>
            </div>
        </div>

		<h5 class="mt-4 border-bottom">AIG Loan Information</h5>
        <div class="form-horizontal">
			<div style="display: grid;grid-template-columns: 1fr 1fr;">
				<div class="form-group">
					<label style="font-size:15px;">Forest Circle: <b>@Model.ForestCircle?.Name</b></label>
				</div>
				<div class="form-group">
					<label style="font-size:15px;">Division: <b>@Model.Division?.Name</b></label>
				</div>
				<div class="form-group">
					<label style="font-size:15px;">Forest Division: <b>@Model.ForestDivision?.Name</b></label>
				</div>
				<div class="form-group">
					<label style="font-size:15px;">District: <b>@Model.District?.Name</b></label>
				</div>
				<div class="form-group">
					<label style="font-size:15px;">Forest Range/SFNTC: <b>@Model.ForestRange?.Name</b></label>
				</div>
				<div class="form-group">
					<label style="font-size:15px;">Upazilla: <b>@Model.Upazilla?.Name</b></label>
				</div>
				<div class="form-group">
					<label style="font-size:15px;">Forest Beat/Camp/SFPC: <b>@Model.ForestBeat?.Name</b></label>
				</div>
				<div class="form-group">
					<label style="font-size:15px;">Union: <b>@Model.Union?.Name</b></label>
				</div>
				<div class="form-group">
					<label style="font-size:15px;">Forest FCV/VCF Type: <b>@(Model.ForestFcvVcf?.IsFcv == true ? "FCV" : "VCF")</b></label>
				</div>
				<div class="form-group">
					<label style="font-size:15px;">Forest FCV/VCF: <b>@Model.ForestFcvVcf?.Name</b></label>
				</div>
			</div>
			<div class="form-group">
				<label style="font-size:15px;">NGO: <b>@Model.Ngo?.Name</b></label>
            </div>
            <div class="form-group">
				<label style="font-size:15px;">Total allocated loan(TK): <b>@Model.TotalAllocatedLoanAmount</b></label>
            </div>
            <div class="form-group">
                <label style="font-size:15px;">Start date: <b>@Model.StartDate.ToShortDateString()</b></label>
            </div>
            <div class="form-group">
                <label style="font-size:15px;">End date: <b>@Model.EndDate.ToShortDateString()</b></label>
            </div>
            <div class="form-group">
				<label style="font-size:15px;">Months for total repayment: <b>@Model.MaximumRepaymentMonth</b></label>
            </div>
            <div class="form-group">
				<label style="font-size:15px;">Service charge (in %): <b>@Model.ServiceChargePercentage</b></label>
            </div>
            <div class="form-group">
				<label style="font-size:15px;">Security charge (in %): <b>@Model.SecurityChargePercentage</b></label>
            </div>
            <div class="form-group">
				<label style="font-size:15px;">Bad Loan Type: <b>@Model.BadLoanType.GetEnumDisplayName()</b></label>
            </div>
        </div>

		@if (Model.FirstSixtyPercentageLDF is not null)
		{
			<h5 class="mt-4 border-bottom">60% LDF Information</h5>
			<div class="form-horizontal">
				<div class="form-group">
					<label style="font-size:15px;">LDF Amount : <b>@Model.FirstSixtyPercentageLDF?.LDFAmount</b></label>
				</div>
				<div class="form-group">
					<label style="font-size:15px;">Service charge (in %): <b>@Model.FirstSixtyPercentageLDF?.ServiceChargePercentage</b></label>
				</div>
				<div class="form-group">
					<label style="font-size:15px;">Security charge (in %): <b>@Model.FirstSixtyPercentageLDF?.SecurityChargePercentage</b></label>
				</div>
				<div class="form-group">
					<label style="font-size:15px;">Service charge(TK): <b>@Model.FirstSixtyPercentageLDF?.ServiceChargeAmount</b></label>
				</div>
				<div class="form-group">
					<label style="font-size:15px;">Security charge(TK): <b>@Model.FirstSixtyPercentageLDF?.SecurityChargeAmount</b></label>
				</div>
				<div class="form-group">
					<label style="font-size:15px;">Grace applicable: <b>@(Model.FirstSixtyPercentageLDF?.HasGrace == true ? "Yes" : "No")</b></label>
				</div>
				<div class="form-group">
					<label style="font-size:15px;">Month(s) for grace: <b>@(Model.FirstSixtyPercentageLDF?.GraceMonth)</b></label>
				</div>
			</div>
		}

		@if (Model.SecondFourtyPercentageLDF is not null)
		{
			<h5 class="mt-4 border-bottom">40% LDF Information</h5>
			<div class="form-horizontal">
				<div class="form-group">
					<label style="font-size:15px;">LDF amount: <b>@Model.SecondFourtyPercentageLDF?.LDFAmount</b></label>
				</div>
				<div class="form-group">
					<label style="font-size:15px;">Service charge (in %): <b>@Model.FirstSixtyPercentageLDF?.ServiceChargePercentage</b></label>
				</div>
				<div class="form-group">
					<label style="font-size:15px;">Security charge (in %): <b>@Model.FirstSixtyPercentageLDF?.SecurityChargePercentage</b></label>
				</div>
				<div class="form-group">
					<label style="font-size:15px;">Service charge(TK): <b>@Model.SecondFourtyPercentageLDF?.ServiceChargeAmount</b></label>
				</div>
				<div class="form-group">
					<label style="font-size:15px;">Security charge(TK): <b>@Model.SecondFourtyPercentageLDF?.SecurityChargeAmount</b></label>
				</div>
			</div>
		}

        <h5 class="mt-4">Repayments Details</h5>
		<div>
			@foreach (var item in Model?.RepaymentLDFs ?? new List<PTSL.GENERIC.Web.Core.Model.EntityViewModels.AIG.RepaymentLDFVM>())
			{
				<div class="row custom-border">
					<h6 class="col-md-12 mt-3">@item.RepaymentSerial</h6>

					<div class="col">
						<div class="form-group">
							<label style="font-size:15px;">Repayment start date: <b>@item.RepaymentStartDate.ToUIDateString()</b></label>
						</div>
						<div class="form-group">
							<label style="font-size:15px;">Repayment amount: <b>@item.RepaymentAmount</b></label>
						</div>
						<div class="form-group">
							<label style="font-size:15px;">60% LDF Amount: <b>@item.FirstSixtyPercentRepaymentAmount</b></label>
						</div>
						<div class="form-group">
							<label style="font-size:15px;">40% LDF Amount: <b>@item.SecondFortyPercentRepaymentAmount</b></label>
						</div>
					</div>
					<div class="col">
						<div class="form-group">
							<label style="font-size:15px;">Repayment end date: <b>@item.RepaymentEndDate.ToUIDateString()</b></label>
						</div>
						<div class="form-group">
							<label style="font-size:15px;">
								Is payment completed:
								@if (item.IsPaymentCompleted)
								{
									<b class="green">
										Yes
									</b>
								}
								else
								{
									<b class="red">
										No
									</b>
								}
							</label>
						</div>
						<div class="form-group">
							<label style="font-size:15px;">Is late: <b>@(item.IsPaymentCompletedLate ? "Yes" : "No")</b></label>
						</div>
					</div>

					<div class="col-12">
						<h6>Histories</h6>
						<table class="table table-striped table-bordered table-sm table-hover">
							<thead>
								<tr>
									<th>SL</th>
									<th>User Name</th>
									<th>Event Type</th>
									<th>Event Date</th>
								</tr>
							</thead>
							<tbody>
								@{
									var historyIndex = 1;
								}
								@foreach (var history in item.RepaymentLDFHistories ?? Enumerable.Empty<RepaymentLDFHistoryVM>())
								{
									<tr>
										<td>@(historyIndex++)</td>
										<td>@history?.EventUser?.UserName</td>
										<td>@history?.RepaymentLDFEventTypeString</td>
										<td>@history?.EventOccurredDate.ToUIDateString()</td>
									</tr>
								}
								@{
									historyIndex = 1;
								}
							</tbody>
						</table>
					</div>
				</div>
			}
		</div>

		@if (Model?.LDFProgresses is not null && Model.LDFProgresses.Count > 0)
		{
			<h5 class="mt-4">Progress Details</h5>
			<div>
				@foreach (var item in Model.LDFProgresses)
				{
					<div class="row border-bottom">
						<h6 class="col-md-12 mt-3">@item.RepaymentSerial</h6>

						<div class="col">
							<div class="form-group">
								<label style="font-size:15px;">Repayment Start Date: <b>@item.RepaymentStartDate.ToUIDateString()</b></label>
							</div>
							<div class="form-group">
								<label style="font-size:15px;">Progress Amount: <b>@item.ProgressAmount</b></label>
							</div>
						</div>
						<div class="col">
							<div class="form-group">
								<label style="font-size:15px;">Repayment End Date: <b>@item.RepaymentEndDate.ToUIDateString()</b></label>
							</div>
						</div>
					</div>
				}
			</div>
		}
	</div>
</div>

