@model PTSL.GENERIC.Web.Core.Model.EntityViewModels.AIG.AIGBasicInformationVM
@{
	ViewBag.Title = "Create LDF for 60%";
	var Message = ViewBag.Message;

	var lDFAmount = Model.TotalAllocatedLoanAmount * 0.6;
	var serviceChargeAmount = (lDFAmount * Model.ServiceChargePercentage) / 100;
	var securityChargeAmount = (Model.TotalAllocatedLoanAmount * Model.SecurityChargePercentage) / 100;
}

<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css" rel="stylesheet" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"></script>

<style>
	label {
		margin-bottom: 0.2rem;
	}

	._select2_option {
		line-height: 20px;
	}

		._select2_option span {
			font-weight: 300;
		}

			._select2_option span:first-child {
				font-weight: 500;
			}

	.flex-basis-content {
		flex-basis: content;
	}

	.gap-5 {
		gap: 5px;
	}
	.custom-input input {
		height: auto;
		padding: 0 !important;
		margin: 0 !important;
	}
	.custom-checkbox {
		padding: 0 !important;
		height: 15px !important;
		display: block;
		width: 15px !important;
	}
</style>

<div class="card">
	<div class="card-header">
		<h4>
			<a href="/AIGBasicInformation/Index" class="mr-1 back">
				<svg width="20" height="20" viewBox="0 0 32 32">
					<path fill="currentColor" d="m14 26l1.41-1.41L7.83 17H28v-2H7.83l7.58-7.59L14 6L4 16l10 10z" />
				</svg>
			</a>
			Generate repayment information for 60% LDF
		</h4>
	</div>

    <form id="Form" asp-controller="AIGBasicInformation" asp-action="FirstSixtyPercentage" class="card-body mt-2">
        <input type="hidden" value="@Model.Id" name="AIGBasicInformationId" />

        <div class="p-2 custom green-card" style="border-radius: 5px;">
            <fieldset class="p-2 col-12">
                <legend class="float-none w-auto">Beneficiary Information</legend>
                <div class="row">
                    <div class="col-md-3 col-sm-12 pr-1">
                        <label>
                            Beneficiary name
                            <span style="color:red;">*</span>
                        </label>
                        <input type="text"
                               value="@(string.IsNullOrEmpty(Model.Survey?.BeneficiaryName) ? Model.Survey?.BeneficiaryNameBn : Model.Survey?.BeneficiaryName)"
                               disabled />
                    </div>
                    <div class="col-md-3 col-sm-12 px-1">
                        <label>
                            Mobile number
                            <span style="color:red;">*</span>
                        </label>
                        <input type="text"
                               value="@(string.IsNullOrEmpty(Model.Survey?.BeneficiaryPhone) ? Model.Survey?.BeneficiaryPhoneBn : Model.Survey?.BeneficiaryPhone)"
                               disabled />
                    </div>
                    <div class="col-md-3 col-sm-12 px-1">
                        <label>
                            NID
                            <span style="color:red;">*</span>
                        </label>
                        <input type="text"
                               value="@(Model.Survey?.BeneficiaryNid)"
                               disabled />
                    </div>
                </div>
            </fieldset>
        </div>

        <div class="p-2 custom green-card mt-2" style="border-radius: 5px;" id="LoanInfo">
            <fieldset class="p-2 col-12">
                <legend class="float-none w-auto">Loan Information</legend>
                <div class="row">
                    <div class="col-md-3 col-sm-12 pr-1">
                        <label>
                            Total allocated loan(TK)
                            <span style="color:red;">*</span>
                        </label>
                        <input type="number"
                               min="0"
                               name="@nameof(Model.TotalAllocatedLoanAmount)"
                               id="@nameof(Model.TotalAllocatedLoanAmount)"
                               value="@Model.TotalAllocatedLoanAmount"
                               placeholder="Enter loan amount (TK)"
                               disabled />
                    </div>
                    <div class="col-md-3 col-sm-12 px-1">
                        <label>
                            Start date
                            <span style="color:red;">*</span>
                        </label>
                        <input type="date"
                               name="@nameof(Model.StartDate)"
                               id="@nameof(Model.StartDate)"
                               value="@(Model.StartDate.ToString("yyyy-MM-dd"))"
                               placeholder="Enter Start Date"
                               disabled />
                    </div>
                    <div class="col-md-3 col-sm-12 px-1">
                        <label>
                            End date
                            <span style="color:red;">*</span>
                        </label>
                        <input type="date"
                               name="@nameof(Model.EndDate)"
                               id="@nameof(Model.EndDate)"
                               value="@(Model.EndDate.ToString("yyyy-MM-dd"))"
                               placeholder="Enter End Date"
                               disabled />
                    </div>
                    <div class="col-md-3 col-sm-12 pl-1">
                        <label>
							Months for total repayment
                            <span style="color:red;">*</span>
                        </label>
                        <input type="number"
                               name="@nameof(Model.MaximumRepaymentMonth)"
                               id="@nameof(Model.MaximumRepaymentMonth)"
                               value="@Model.MaximumRepaymentMonth"
                               placeholder="Enter Total Repayment Month"
                               disabled />
                    </div>
                </div>

                <div class="row mt-3">
                    <div class="col-md-3 col-sm-12 pr-1">
                        <label>
                            Service charge (in percentage)
                            <span style="color:red;">*</span>
                        </label>
                        <input type="number"
                               min="0"
                               name="@nameof(Model.ServiceChargePercentage)"
                               id="@nameof(Model.ServiceChargePercentage)"
                               value="@Model.ServiceChargePercentage"
                               placeholder="Enter service charge (%)"
                               disabled />
                    </div>
                    <div class="col-md-3 col-sm-12 px-1">
                        <label>
                            Security charge (in percentage)
                            <span style="color:red;">*</span>
                        </label>
                        <input type="number"
                               min="0"
                               name="@nameof(Model.SecurityChargePercentage)"
                               id="@nameof(Model.SecurityChargePercentage)"
                               value="@Model.SecurityChargePercentage"
                               placeholder="Enter service charge (%)"
                               disabled />
                    </div>
                </div>
            </fieldset>
        </div>

		<div class="p-2 green-card custom custom-input mt-2" style="border-radius: 5px;">
            <fieldset class="p-2 col-12" id="FirstLDFLandmarks">
                <legend class="float-none w-auto">Landmarks for 60% LDF</legend>

				<div class="d-flex justify-content-start mb-3">
					<div class="d-flex gap-5 ml-3">
						<input class="flex-basis-content" type="checkbox" id="CheckAllLandmarks" />
						<div class="flex-basis-content" style="font-size: 17px; font-weight: 500;">Select all to enter 60% LDF information</div>
					</div>
				</div>

                <div class="d-flex gap-5 flex-column">
                    <div class="d-flex justify-content-start align-items-center gap-5">
                        <div class="flex-basis-content">1.</div>
                        <input class="flex-basis-content"
                               type="checkbox"
                               name="IsAgreeToInvestInOwnIncomeActivities"
                               id="IsAgreeToInvestInOwnIncomeActivities" />
                        <div class="flex-basis-content">
							Agree to invest borrowed loan as per Livelihood Business Plan
                        </div>
                    </div>
                    <div class="d-flex justify-content-start align-items-center gap-5">
                        <div class="flex-basis-content">2.</div>
                        <input class="flex-basis-content"
                               type="checkbox"
                               name="ShallAdhereTheCOM"
                               id="ShallAdhereTheCOM" />
                        <div class="flex-basis-content">
							Shall adhere to the Community Operations Manual (COM).
                        </div>
                    </div>
                    <div class="d-flex justify-content-start align-items-center gap-5">
                        <div class="flex-basis-content">3.</div>
                        <input class="flex-basis-content"
                               type="checkbox"
                               name="IsAttendedEightyPercentageOfMeetings"
                               id="IsAttendedEightyPercentageOfMeetings" />
                        <div class="flex-basis-content">
							Member(s) shall attend at least 80% of FCV/VCF regular meetings.
                        </div>
                    </div>
                    <div class="d-flex justify-content-start align-items-center gap-5">
                        <div class="flex-basis-content">4.</div>
                        <input class="flex-basis-content"
                               type="checkbox"
                               name="IsFirstInstallmentIsCertifiedBySocialAuditCommittee"
                               id="IsFirstInstallmentIsCertifiedBySocialAuditCommittee" />
                        <div class="flex-basis-content">
							LDF loan application has been recommended by VCSC, examined by SAC and approved by CFMC/VCF-EC.
                        </div>
                    </div>
                    <div class="d-flex justify-content-start align-items-center gap-5">
                        <div class="flex-basis-content">5.</div>
                        <input class="flex-basis-content"
                               type="checkbox"
                               name="HasBankAccountInHisOwnName"
                               id="HasBankAccountInHisOwnName" />
                        <div class="flex-basis-content">
							The member has a bank account in his own name.
                        </div>
                    </div>
                    <div class="d-flex justify-content-start align-items-center gap-5">
                        <div class="flex-basis-content">6.</div>
                        <input class="flex-basis-content"
                               type="checkbox"
                               name="IsPayingRegularIncomingInstallments"
                               id="IsPayingRegularIncomingInstallments" />
                        <div class="flex-basis-content">
							Regularly paying savings as decided by the CFMC
                        </div>
                    </div>
					<!-- TODO ADD IN DB -->
                    <div class="d-flex justify-content-start align-items-center gap-5">
                        <div class="flex-basis-content">7.</div>
                        <input class="flex-basis-content"
                               type="checkbox"
                               name="IsPayingRegularIncomingInstallments"
                               id="IsPayingRegularIncomingInstallments" />
                        <div class="flex-basis-content">
							Regularly paying Installments of borrowed loan (if any)
                        </div>
                    </div>
                    <div class="d-flex justify-content-start align-items-center gap-5">
                        <div class="flex-basis-content">8.</div>
                        <input class="flex-basis-content"
                               type="checkbox"
                               name="IsAgreedToKeepIncomeAndExpenditureFund"
                               id="IsAgreedToKeepIncomeAndExpenditureFund" />
                        <div class="flex-basis-content">
							Agreed to keep income and expenditure daybook of borrowed loan.
                        </div>
                    </div>
                </div>
            </fieldset>
        </div>

        <div class="p-2 custom green-card mt-2" style="border-radius: 5px; display: none;" id="LDFInfo">
            <fieldset class="p-2 col-12">
                <legend class="float-none w-auto">60% LDF Information</legend>
                <div class="row">
                    <div class="col-md-3 col-sm-12 pr-1">
                        <label>
                            Amount for 60% LDF
                            <span style="color:red;">*</span>
                        </label>
                        <input type="number"
                               name="LDFAmount"
                               id="LDFAmount"
                               value="@lDFAmount"
                               placeholder="Enter loan amount (TK)"
                               disabled />
                    </div>
                    <div class="col-md-3 col-sm-12 px-1">
                        <label>
							Service charge (in percentage)
                            <span style="color:red;">*</span>
                        </label>
						<input type="number"
							   name="ServiceChargePercentage"
							   id="ServiceChargePercentageForSixty"
							   value="@Model.ServiceChargePercentage"
							   placeholder="Enter Service Charge in %" />
					</div>
                    <div class="col-md-3 col-sm-12 px-1">
                        <label>
							Security charge (in percentage)
                            <span style="color:red;">*</span>
                        </label>
						<input type="number"
							   name="SecurityChargePercentage"
							   id="SecurityChargePercentageForSixty"
							   value="@Model.SecurityChargePercentage"
							   placeholder="Enter Security Charge in %" />
					</div>
                    <div class="col-md-3 col-sm-12 pl-1 d-flex align-items-center">
						<div class="d-flex justify-content-start align-items-center" style="margin-top: 21px;">
							<input id="HasGrace" class="custom-checkbox mr-1" name="HasGrace" type="checkbox" />
							<label class="flex-shrink-0">
								Grace applicable
							</label>
						</div>
					</div>
                </div>

                <div class="row mt-3">
                    <div class="col-md-3 col-sm-12 pr-1">
                        <label>
                            Month(s) for grace
                            <span style="color:red;">*</span>
                        </label>
                        <select id="GraceMonth" name="GraceMonth" disabled>
                            <!option value="">Choose...</!option>
                            <!option value="1">1 Month</!option>
                            <!option value="2">2 Months</!option>
                            <!option value="3">3 Months</!option>
                        </select>
                    </div>
                    <div class="col-md-3 col-sm-12 px-1">
                        <label>
                            Repayment start date
                            <span style="color:red;">*</span>
                        </label>
                        <input type="date"
                               id="RepaymentStartDate"
                               value="@(Model.StartDate.ToString("yyyy-MM-dd"))"
                               disabled />
                    </div>
                    <div class="col-md-3 col-sm-12 px-1">
                        <label>
                            Repayment end date
                            <span style="color:red;">*</span>
                        </label>
                        <input type="date"
                               id="RepaymentEndDate"
                               value="@(Model.EndDate.ToString("yyyy-MM-dd"))"
                               disabled />
                    </div>
                    <div class="col-md-3 col-sm-12 pl-1">
                        <label>
                            Repayment amount per month
                        </label>
                        <input type="number"
                               id="PerMonthRepaymentAmount"
                               value="@Math.Round(((lDFAmount + serviceChargeAmount) / Model.MaximumRepaymentMonth), 2)"
                               disabled />
                    </div>
                </div>
            </fieldset>
        </div>

		<div class="d-flex justify-content-end py-2">
			<button type="button" id="generate-btn" onclick="confirmLDF('#Form')" class="btn btn-sm btn-green save" style="display: none;">
				Generate
			</button>
		</div>
	</form>
</div>

<script>
	$("#Form").validate({
		rules: {
		},
	});
</script>
<script>
	function confirmLDF(formId) {
		swal({
			title: "Are you sure?",
			text: "This will generate your repayments for 60% LDF",
			type: "warning",
			showCancelButton: true,
			confirmButtonColor: "#DD6B55",
			confirmButtonText: "Yes, Confirm",
			closeOnConfirm: true
		}, function () {
			$(".loader").fadeIn("fast");
			$(formId).submit();
		});
	}
</script>

<script>
	$("#HasGrace").on("change", function() {
		var isChecked = $(this).is(":checked");
		if (isChecked) {
			$("#GraceMonth").prop("disabled", false);
		} else {
			$("#GraceMonth").prop("disabled", true);
			$("#GraceMonth").val("");
		}

		$("#GraceMonth").trigger("change");
	});

	$("#GraceMonth").on("change", function() {
		var val = $(this).val();
		var startDate = $("#StartDate").val();
		var start = new Date(startDate);

		var valNum = Number.parseInt(val);
		if (Number.isNaN(valNum) || valNum < 0) {
			$("#RepaymentStartDate").val(startDate);
			calculatePerMonthLDFRepayment();
			return;
		}

		start.setMonth(start.getMonth() + valNum);
		$("#RepaymentStartDate").val(start.toISOString().slice(0, 10));

        calculatePerMonthLDFRepayment();
	});

	$("#ServiceChargePercentageForSixty").on("change", calculatePerMonthLDFRepayment);

	function calculatePerMonthLDFRepayment() {
		var ldfAmount = Number.parseFloat($("#LDFAmount").val());
		var serviceCharge = Number.parseFloat($("#ServiceChargePercentageForSixty").val());
		var securityCharge = Number.parseFloat($("#SecurityChargePercentageForSixty").val());
		var graceMonth = Number.parseInt($("#GraceMonth").val());

		var month = Number.parseInt($("#MaximumRepaymentMonth").val()) - (Number.isNaN(graceMonth) ? 0 : graceMonth);

		var perMonthRepaymentAmount = (ldfAmount + ((ldfAmount * serviceCharge) / 100)) / month;
		$("#PerMonthRepaymentAmount").val(perMonthRepaymentAmount.toFixed(2));
	}

	$("#HasGrace").on("change", function() {
		var isChecked = $(this).is(":checked");

		if (isChecked) {
			$("#HasGrace").val("true");
		} else {
			$("#HasGrace").val("false");
		}
	});
</script>

<script>
	$("#CheckAllLandmarks").on("click", function() {
		var isTrue = $(this).is(":checked");
		$("#FirstLDFLandmarks").find("input:not(#CheckAllLandmarks)").each(function () {
			if (isTrue) $(this).prop('checked', true);
			else $(this).prop('checked', false);
		});

        $('#FirstLDFLandmarks input:not(#CheckAllLandmarks)').trigger("change");
	})
	$('#FirstLDFLandmarks input:not(#CheckAllLandmarks)').on('change', function () {
		$('#FirstLDFLandmarks input:not(#CheckAllLandmarks)').each(function() {
			var v = $(this).is(":checked");
			if (v) $(this).val("true");
			else $(this).val("false");
		});

		const allSelected = $('#FirstLDFLandmarks input:not(#CheckAllLandmarks)').filter(':checked').length === $('#FirstLDFLandmarks input:not(#CheckAllLandmarks)').length;
		if (allSelected) {
			$("#LDFInfo").show();
			$("#generate-btn").show();
		} else {
			$("#LDFInfo").hide();
			$("#generate-btn").hide();
		}
	});
</script>

