@using PTSL.GENERIC.Web.Core.Helper.Enum;
@using PTSL.GENERIC.Web.Core.Model.EntityViewModels.Beneficiary;
@model PTSL.GENERIC.Web.Core.Model.EntityViewModels.Beneficiary.CipVM
@{
    ViewBag.Title = "CIP Details";
	var images = Model.CipFiles.Where(x => x.FileType == FileType.Image) ?? Enumerable.Empty<CipFileVM>();
	var documents = Model.CipFiles.Where(x => x.FileType == FileType.Document) ?? Enumerable.Empty<CipFileVM>();
}

<style>
	fieldset {
		padding: 0px 15px;
		border: 1px solid gray;
	}

		fieldset legend {
			width: auto;
		}

	legend {
		font-weight: 500 !important;
		font-size: 20px !important;
	}
</style>

<div class="card">
    <div class="card-header">
        <h4>
			<a href="/Cip/Index" class="mr-1 back">
                <svg width="20" height="20" viewBox="0 0 32 32">
                    <path fill="currentColor" d="m14 26l1.41-1.41L7.83 17H28v-2H7.83l7.58-7.59L14 6L4 16l10 10z" />
                </svg>
            </a>
            CIP Details
        </h4>
    </div>

    <div class="card-body">
        <div class="form-horizontal">
			<fieldset>
				<legend>Basic Information</legend>
				<div class="form-group">
					<label style="font-size:15px;">Forest Circle: <b>@Model.ForestCircle?.Name</b></label>
				</div>
				<div class="form-group">
					<label style="font-size:15px;">Forest Division: <b>@Model.ForestDivision?.Name</b></label>
				</div>
				<div class="form-group">
					<label style="font-size:15px;">Forest Range: <b>@Model.ForestRange?.Name</b></label>
				</div>
				<div class="form-group">
					<label style="font-size:15px;">Forest Beat: <b>@Model.ForestBeat?.Name</b></label>
				</div>
				<div class="form-group">
					<label style="font-size:15px;">FCV/VCF Type: <b>@(Model.ForestFcvVcf?.IsFcv == true ? "FCV" : "VCF")</b></label>
				</div>
				<div class="form-group">
					<label style="font-size:15px;">Forest FCV/VCF: <b>@Model.ForestFcvVcf?.Name</b></label>
				</div>
				<div class="form-group">
					<label style="font-size:15px;">Division: <b>@Model.Division?.Name</b></label>
				</div>
				<div class="form-group">
					<label style="font-size:15px;">District: <b>@Model.District?.Name</b></label>
				</div>
				<div class="form-group">
					<label style="font-size:15px;">Upazilla: <b>@Model.Upazilla?.Name</b></label>
				</div>
				<div class="form-group">
					<label style="font-size:15px;">Union: <b>@Model.Union?.Name</b></label>
				</div>
			</fieldset>
		</div>

		<div class="form-horizontal mt-3">
			<fieldset>
				<legend>CIP Information</legend>
				<div class="form-group">
					<label style="font-size:15px;">Beneficiary Name: <b>@Model.BeneficiaryName</b></label>
				</div>
				<div class="form-group">
					<label style="font-size:15px;">Village Name: <b>@Model.ForestVillageName</b></label>
				</div>
				<div class="form-group">
					<label style="font-size:15px;">Household serial No: <b>@Model.HouseholdSerialNo</b></label>
				</div>
				<div class="form-group">
					<label style="font-size:15px;">CIP Household Id: <b>@Model.CipGeneratedId</b></label>
				</div>
				<div class="form-group">
					<label style="font-size:15px;">Gender: <b>@Model.Gender.GetEnumDisplayName()</b></label>
				</div>
				<div class="form-group">
					<label style="font-size:15px;">Father / Spouse Name: <b>@Model.FatherOrSpouseName</b></label>
				</div>
				<div class="form-group">
					<label style="font-size:15px;">Ethnicity: <b>@Model.Ethnicity?.Name</b></label>
				</div>
				<div class="form-group">
					<label style="font-size:15px;">NID: <b>@Model.NID</b></label>
				</div>
				<div class="form-group">
					<label style="font-size:15px;">Mobile Number: <b>@Model.MobileNumber</b></label>
				</div>
				<div class="form-group">
					<label style="font-size:15px;">House Type: <b>@(Model.TypeOfHouseNew?.Name ?? string.Empty)</b></label>
				</div>
				<div class="form-group">
					<label style="font-size:15px;">Wealth: <b>@Model.CipWealth.GetEnumDisplayName()</b></label>
				</div>
			</fieldset>
		</div>

		<div class="row mt-4">
			<div class="col-md-6" style="@(images.Count() == 0 ? "display: none;" : "")">
				<h6>Images</h6>

				<div class="image-grid">
					@foreach (var file in images)
					{
						<div class="file_container">
							<img src="@file.FileNameUrl" class="responsive-image" />
						</div>
					}
				</div>
			</div>
			<div class="col-md-6" style="@(documents.Count() == 0 ? "display: none;" : "")">
				<h6>Documents</h6>

				<div class="d-flex flex-wrap" style="flex-direction: column;gap: 5px;">
					@foreach (var file in documents)
					{
						<div>
							<a href="@file.FileNameUrl">@file.FileName</a>
						</div>
					}
				</div>
			</div>
		</div>



        <div class="col-md-12">
            <h4 style="float:left">Approval History</h4>
            <h5 style="float:right">Last Pending At: @Model?.ApprovalLogForCfms?.LastOrDefault()?.Receiver?.UserName</h5>
        </div>

        <table class="table table-striped table-bordered table-hover dataTable no-footer" id="tableExport_filter" style="width: 100%;" role="grid" aria-describedby="tableExport_filter_info">
            <thead>
                <tr role="row">
                    <th class="sorting_asc" tabindex="0" aria-controls="tableExport_filter" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Sl No.: activate to sort column descending" style="width: 22.2px;">Sl No.</th>
                    <th class="sorting" tabindex="0" aria-controls="tableExport_filter" rowspan="1" colspan="1" aria-label="Team Name: activate to sort column ascending" style="width: 37.2px;">Sender Name</th>
                    <th class="sorting" tabindex="0" aria-controls="tableExport_filter" rowspan="1" colspan="1" aria-label="Ngo: activate to sort column ascending" style="width: 27.2px;">Receiver Name</th>
                    <th class="sorting" tabindex="0" aria-controls="tableExport_filter" rowspan="1" colspan="1" aria-label="Forest Circle: activate to sort column ascending" style="width: 38.2px;">Sending Date</th>
                    <th class="sorting" tabindex="0" aria-controls="tableExport_filter" rowspan="1" colspan="1" aria-label="Forest Division: activate to sort column ascending" style="width: 50.2px;">Sending Time</th>
                    <th class="sorting" tabindex="0" aria-controls="tableExport_filter" rowspan="1" colspan="1" aria-label="Forest Range: activate to sort column ascending" style="width: 39.2px;">Remark</th>
                </tr>
            </thead>
            <tbody>
                @{
                    var index = 1;
                }
                @foreach (var approveLogData in Model?.ApprovalLogForCfms)
                {
                    <tr style="" role="row" class="odd">
                        <td class="sorting_1">@index</td>
                        <td class="sorting_1">@approveLogData?.Sender?.UserName</td>
                        <td>@approveLogData?.Receiver?.UserName</td>
                        <td>@approveLogData?.SendingDate?.ToUIDateString()</td>
                        <td>@approveLogData?.SendingTime?.ToUITimeString()</td>
                        <td>@approveLogData?.Remark</td>
                    </tr>
                    index++;
                }
            </tbody>
        </table>


	</div>
</div>

