@model List<PTSL.GENERIC.Web.Core.Model.EntityViewModels.Beneficiary.BusinessVM>

@{ var index = 0; }

@foreach (var business in Model)
{
    index++;

    <div class="card BusinessChild" data-id="@index">
        <input class="Id" type="hidden" value="@business.Id" />
        <div class="card-body mt-3">
            <h5 class="d-inline-block">@index</h5>
            <button type="button" class="remove-item btn btn-danger btn-sm float-right" onclick="RemoveBusiness(@index, @business.Id)">x</button>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label>
                        Income Source
                    </label>
                    <select class="form-control BusinessIncomeSourceTypeId" name="BusinessIncomeSourceTypeId[]">
                        <option value="">Choose..</option>
                        @foreach (var item in ViewBag.BusinessIncomeSourceTypeId)
                        {
                            <!option value="@item.Id" @(business.BusinessIncomeSourceTypeId == item.Id ? "selected" : "")>@item.Name</!option>
                        }
                    </select>
                </div>
                <div class="form-group col-md-6">
                    <label>
                        Gross value of sales/ Income (tk)
                    </label>
                    <input type="number" min="0" class="form-control BusinessGrossValueOfSales" name="BusinessGrossValueOfSales" placeholder="Enter Gross value of sales" value="@(business.Id == 0 ? "" : business.BusinessGrossValueOfSales)" />
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label>
                        Total cash costs/Expenditure of activity (tk)
                    </label>
                    <input type="number" min="0" class="form-control BusinessTotalCashCosts" name="BusinessTotalCashCosts" placeholder="Enter total cash costs" value="@(business.Id == 0 ? "" : business.BusinessTotalCashCosts)" />
                </div>
                <div class="form-group col-md-6">
                    <label>
						Net Income
                    </label>
                    <input type="number" class="form-control TotalNetIncome" placeholder="Net Income" disabled />
                </div>
            </div>
        </div> <!-- card body end -->
    </div>
}
