@model List<PTSL.GENERIC.Web.Core.Model.EntityViewModels.Beneficiary.OtherIncomeSourceVM>

@{ var index = 0; }

@foreach (var other in Model)
{
    index++;

    <div class="card OtherIncomeSourceChild" data-id="@index">
        <input class="Id" type="hidden" value="@other.Id" />
        <div class="card-body mt-3">
            <h5 class="d-inline-block">@index</h5>
            <button type="button" class="remove-item btn btn-danger btn-sm float-right" onclick="RemoveOtherIncomeSource(@index, @other.Id)">x</button>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label>
                        Income Source
                    </label>
                    <select class="form-control OtherIncomeSourceTypeId" name="OtherIncomeSourceTypeId[]">
                        <option value="">Choose..</option>
                        @foreach (var item in ViewBag.OtherIncomeSourceTypeId)
                        {
                            <!option value="@item.Id" @(other.OtherIncomeSourceTypeId == item.Id ? "selected" : "")>@item.Name</!option>
                        }
                    </select>
                </div>
                <div class="form-group col-md-6">
                    <label>
                        Gross value of sales/ Income (tk)
                    </label>
                    <input type="number" min="0" class="form-control GrossValueOfSales" name="GrossValueOfSales" placeholder="Enter gross value of Sales / Income" value="@(other.Id == 0 ? "" : other.GrossValueOfSales)" />
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label>
                        Total cash costs/Expenditure of activity (tk)
                    </label>
                    <input type="number" min="0" class="form-control TotalCashCosts" name="TotalCashCosts" placeholder="Enter Total cash costs" value="@(other.Id == 0 ? "" : other.TotalCashCosts)" />
                </div>
                <div class="form-group col-md-6">
                    <label>
						Net Income:
                    </label>
                    <input type="number" class="form-control TotalNetIncome" placeholder="Net Income" disabled />
                </div>
            </div>
        </div> <!-- card body end -->
    </div>
}
