@using PTSL.GENERIC.Web.Core.Helper.Enum;
@model List<PTSL.GENERIC.Web.Core.Model.EntityViewModels.AIG.Reports.AIGLoanStatusReportVM>
@{
    ViewBag.Title = "AIG Loan Status Report";
}

<style>
    td > p {
        margin: 0 !important;
        line-height: 1.5;
    }
    .bad-loan-rules li {
        line-height: 1.5;
        font-size: 11px;
        list-style: none;
        justify-content: center;
        font-weight: 400;
        width: 100%;
        justify-self: flex-start;
    }
</style>

@await Html.PartialAsync("~/Views/Shared/_DataTables.cshtml")

<div class="card" id="reportView">
    <div class="card-header report_header no-print">
        <div>
            <h5>AIG Loan Status Report</h5>
        </div>
        <div>
            <button type="button" class="btn btn-primary btn-sm" onclick="printReport()">Print</button>
        </div>
    </div>

    <div class="card-body">
        <table class="reportTable" id="tableExport_filter">
            <thead>
                <tr>
                    <th colspan="10">
                        <div class="reportTableHeader">
                            <img src="/img/login/bd-govt.png" width="60" height="60" style="box-shadow: none;" />
                            <h3 class="font-weight-normal">Sustainable Forests & Livelihoods (SUFAL)</h3>
                            <h5>AIG Loan Status Report</h5>
                            <p class="font-16">Reporting date: @DateTime.Now.ToUIDateString()</p>

                            <ul style="font-size: 11px;" class="bad-loan-rules">
                                <li>
                                    a) The outstanding loan which has not yet been defaulted can be classified as
                                    Standard/Regular loan.
                                </li>

                                <li>
                                    b) While the tenure of a defaulted loan falls within 1-30 days, the outstanding loan
                                    would be classified as Watchful loan.
                                </li>
                                <li>
                                    c) While the tenure of a defaulted loan falls within 31-180 days, the outstanding
                                    loan would be classified as Sub-Standard loan.
                                </li>

                                <li>
                                    d) While the tenure of a defaulted loan falls within 181-365 days, the outstanding
                                    loan would be classified as Doubtful loan.
                                </li>
                                <li>
                                    e) In case an expired loan of a borrower and if the tenure goes beyond 365 days,
                                    that will be classified as Bad loan.
                                </li>
                            </ul>
                        </div>
                    </th>
                </tr>
                <tr>
                    <th>SL</th>
                    <th>Forest Location</th>
                    <th>Beneficiary Name</th>
                    <th>Mobile Number</th>
                    <th>NID</th>
                    <th>LDF Round</th>
                    <th>Total Loan Amount</th>
                    <th>Total Repayment Amount</th>
                    <th>Total Repayments</th>
                    <th>Loan Status</th>
                </tr>
            </thead>
            <tbody>
                @{
                    var index = 0;
                }

                @foreach (var item in Model)
                {
                    <tr>
                        <td>@(++index)</td>
                        <td>
                            <p><span style="font-weight: bold">Circle: </span>@item.BeneficiaryForestCircle</p>
                            <p><span style="font-weight: bold">Division: </span>@item.BeneficiaryForestDivision</p>
                            <p><span style="font-weight: bold">Range: </span>@item.BeneficiaryForestRange</p>
                            <p><span style="font-weight: bold">Beat: </span>@item.BeneficiaryForestBeat</p>
                            <p><span style="font-weight: bold">FCV/VCF: </span>@item.BeneficiaryForestFcvVcf</p>
                            <p><span style="font-weight: bold">Is FCV: </span>@(item.BeneficiaryForestFcvVcfIsFcv == null ? "N/A" : (item.BeneficiaryForestFcvVcfIsFcv == true ? "Yes" : "No"))</p>
                        </td>
                        <td>@item.BeneficiaryName</td>
                        <td>@item.BeneficiaryPhoneNumber</td>
                        <td>@item.BeneficiaryNid</td>
                        <td>@item.LDFCount</td>
                        <td>@item.TotalLoanTakenAmount.ToBDTCurrency()</td>
                        <td>@item.TotalLoanRepaymentAmount.ToBDTCurrency()</td>
                        <td>@item.TotalLoanRepaymentsNumber / @item.TotalLoanRepaymentsNotCompletedNumber</td>
                        <td>@item.BadLoanType.GetEnumDisplayName()</td>
                    </tr>
                }
            </tbody>
            <tfoot class="reportTfoot">
                @{
                    var groupByBadLoan = Model.GroupBy(x => x.BadLoanType).Select(x => new { BadLoanType = x.Key, Total = x.Count() }).ToList();
                }
                @foreach (var item in groupByBadLoan)
                {
                    <tr>
                        <td colspan="6" class="text-center">Total @item.BadLoanType.GetEnumDisplayName():</td>
                        <td colspan="4" class="text-center">@(item.Total)</td>
                    </tr>
                }
                <tr>
                    <td colspan="6" class="text-center">Total:</td>
                    <td colspan="4" class="text-center">@(Model.Count)</td>
                </tr>
            </tfoot>
        </table>
    </div>
</div>

<script>
    $(document).ready(function () {
        $('#tableExport_filter').DataTable({
            pageLength: 10,
            dom: 'Blfrtip',
            lengthMenu: [[10, 25, 50, 100, -1], [10, 25, 50, 100, "All"]],
            buttons: ['excel', 'pdf']
        });
    });
</script>

